body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

  p {font-size: 16px;}

  .margin {margin-bottom: 45px;}

  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }

  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }

  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }

  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff !important;
  }

  .bg-5 { 
    color: #fff !important;
  }

  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }

   .container {
    text-align: left;
  }

  .title {
    text-align: center;
    padding-top: 10px;
  }

  .dates {
    text-align: right;
  }

  .job {
   border: white;
   border-style: solid;
   border-radius: 25px;
   padding: 40px;
   margin: 40px;
  }

  .skill {
    background-color: #fff;
    border: black;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
   }

  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  .gradient-background {
    background: linear-gradient(300deg, #329AEA, #22B5D4, #27F6E1);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  

  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
  .skill-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
  }

  .skill-list {
    background-color: #21E6B9;
    flex: wrap;
    width: 350px;
    padding: 10px;
    text-align: left;
    border: black;
    border-style: solid;
    border-radius: 25px;
  }

 
  .skill-title {
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    margin-bottom: 10px;
  }

 
 
  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .pricing-container {
      flex-direction: column;
      height: 100%;
    }
  }